<div class="card w-75 container mt-3 p-2">
  <div class="card-body">
    <h2 class="card-title text-primary">-007</h2>
    <h5>Description: </h5>
    <p>STATEMENT CONTAINS THE ILLEGAL CHARACTER invalid-character</p>
    <h5>Explanation:</h5>
    <p class="card-text">The specified invalid-character is not a valid character in SQL statements.</p>
    <h5>System actions: </h5>
    <p class="card-text">The statement cannot be processed. </p>
    <h5>Programer response: </h5>
    <p>Correct the syntax and resubmit the statement.</p>
    <h5>SQL State: </h5>
    <p>42601</p>
  </div>
</div>
