<div class="card w-75 container mt-3 p-2 div-element" (click)="teste()">
    <a href="#">
      <div class="card-body">
        <h5 class="card-title text-primary">-007</h5>
        <p class="card-text text-secondary">STATEMENT CONTAINS THE ILLEGAL CHARACTER invalid-character</p>
        <h4>Explanation:</h4>
        <p class="card-text">The specified invalid-character is not a valid character in SQL statements.</p>
        <h4>System actions: </h4>
        <p class="card-text">The statement cannot be processed. </p>
        <h4>Programer response: </h4>
        <p>Correct the syntax and resubmit the statement.</p>
        <h4>SQL State: </h4>
        <p>42601</p>
      </div>
    </a>
  </div>
  